@media (min-width: 768px) {
    .partition-10 {
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%;
    }

    .partition-20 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .partition-25 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .partition-30 {
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }

    .partition-40 {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }

    .partition-50 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .partition-60 {
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
    }

    .partition-70 {
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
    }

    .partition-80 {
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }

    .partition-90 {
        -ms-flex: 0 0 90%;
        flex: 0 0 90%;
        max-width: 90%;
    }

    .partition-75 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .partition-33 {
        -ms-flex: 0 0 33.333%;
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
    .partition-66 {
        -ms-flex: 0 0 66.666%;
        flex: 0 0 66.666%;
        max-width: 66.666%;
    }
    .partition-16 {
        -ms-flex: 0 0 16.666%;
        flex: 0 0 16.666%;
        max-width: 16.666%;
    }
}

.partition-10, .partition-20, .partition-25, .partition-30, .partition-16, .partition-33, .partition-40, .partition-50, .partition-66, .partition-70, .partition-75, .partition-80, .partition-90 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom:6px;
}

.row{
    margin-left: -10px  !important;
    margin-right: -10px  !important;
}
